.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 13px auto 0 85px;
}

.u-section-1 .u-image-1 {
  width: 347px;
  height: 388px;
  margin: 6px 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -368px 390px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -184px auto 0 26px;
}

.u-section-1 .u-text-4 {
  margin: 26px auto 0 14px;
}

.u-section-1 .u-text-5 {
  margin: -31px 395px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -57px auto 60px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: -382px;
    margin-right: 322px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 325px;
  }

  .u-section-1 .u-text-6 {
    margin-bottom: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 247px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 249px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: -60px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -315px;
    margin-right: 185px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 187px;
  }

  .u-section-1 .u-text-6 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 380px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 116px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 118px;
  }
}